/res/data/*
!/res/data/data.exp.js
!/res/data/.gitkeep
/wwwassets/node_modules
/wwwassets/script/dist/*
!/wwwassets/script/dist/.gitkeep
/wwwassets/fallback_fonts/*
!/wwwassets/fallback_fonts/.gitkeep
/wwwassets/plugins/*
!/wwwassets/plugins/.gitkeep
/wwwassets/fonts/*
!/wwwassets/fonts/AdobeBlank.otf
*.js.map
/emoji-keyboard.zip
/local
# User configuration
/config.json
/hotkey.ahk
# IDE-specific
.idea
.vscode
# OS-specific
Thumbs.db
