/res/data/*
!/res/data/data.exp.js
!/res/data/.gitkeep
/config.json
/wwwassets/node_modules
/wwwassets/script/dist/*
!/wwwassets/script/dist/script.dist.js
!/wwwassets/script/dist/unidata.dist.js
/wwwassets/fallback_fonts/*
!/wwwassets/fallback_fonts/.gitkeep
/wwwassets/plugins/*
!/wwwassets/plugins/.gitkeep
*.js.map
/emoji-keyboard.zip
/local
# IDE-specific
.idea
.vscode
# OS-specific
Thumbs.db
