
body, html{
	background-color: #1a1a1a;
}

.keyboard .key{
	background-color: #333;
	color: #fff;
}
.key.empty{
	background-color: #252525;
}

.key.alt{
	box-shadow: 0 .5vw #FFC83D inset;
}

.key .name{
	text-shadow: .1vw .1vw 0 #000, .1vw -.1vw 0 #000, -.1vw .1vw 0 #000, -.1vw -.1vw 0 #000;
}

.key:not(.empty):hover {
	background-color: #e5e5e5;
}

.key:not(.empty):hover{
	color: #000;
}

.key:hover .name{
	text-shadow: .1vw .1vw 0 #fff, .1vw -.1vw 0 #fff, -.1vw .1vw 0 #fff, -.1vw -.1vw 0 #fff;
}
