
body, html{
	background-color: #f8f8f8;
}

.key{
	background-color: #f4f4f4;
	border: solid .1vw #888;
	color: #000;
}
.key.empty{
	border: solid .1vw #888;
	color: #888;
}

.key .name{
	text-shadow: .1vw .1vw 0 #fff, .1vw -.1vw 0 #fff, -.1vw .1vw 0 #fff, -.1vw -.1vw 0 #fff;
}

.key:not(.empty):hover{
	color: #000;
}
