
body, html{
	background-color: #fff;
}

.key{
	background-color: #f8f8f8;
	border: solid .1vw #888;
	color: #000;
}
.key.empty{
	color: #888;
}

.key.alt{
	box-shadow: 0 .5vw #FFC83D inset;
}

.key.active{
	box-shadow: 0 .5vw #000 inset;
}

.key .name{
	text-shadow: .1vw .1vw 0 #fff, .1vw -.1vw 0 #fff, -.1vw .1vw 0 #fff, -.1vw -.1vw 0 #fff;
}

.key.char .symbol img{
	box-shadow: 0px 0px .2em black;
	background: white;
}

.key:not(.empty):hover{
	color: #000;
}

.searchpane input{
	border: solid .1vw #888;
}