:root {
	--s-gap: 4px;
	--c-shadow: #000;
}

body, html{
	margin: 0;
	padding: 0;
	font-family: 'Segoe UI', 'Segoe UI Emoji', 'Cambria Math', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1.8vw;
}

*{
	user-select: none;
	-ms-user-select: none;
}

input{
	font-family: 'Segoe UI', 'Segoe UI Emoji', 'Cambria Math', Tahoma, Geneva, Verdana, sans-serif;
}

main{
	display: flex;
	flex-direction: column;
	cursor: default;
}

main > section{
	flex: 1;
	overflow: auto;
}

.keyboard{
	display: grid;
	box-sizing: border-box;
	grid-template-columns: repeat(13, 1fr);
	grid-template-rows: repeat(4, 1fr);
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	grid-gap: var(--s-gap);
	padding: var(--s-gap);
}

.keyboard input[type="search"] {
	grid-column: 1 / 14;
	font-size: 4vw;
}

.key{
	display: inline-flex;
	list-style: none;
	padding: .3vw;
	overflow: hidden;
	position: relative;
	align-items: center;
	transition: background ease .05s;
}

.row{
	display: inline-flex;
}

.key .symbol{
	font-size: 3.6vw;
	text-align: center;
	flex: 1;
	transition: ease .1s;
	white-space: pre;
	text-shadow: var(--c-shadow) 0 0 .1em, var(--c-shadow) 0 0 .1em, var(--c-shadow) 0 0 .1em, var(--c-shadow) 0 0 .1em;
}
.key .symbol.s-space{
	font-size: 1.1vw;
	font-variant: small-caps;
	font-weight: bold;
}
.key .symbol img{
	height: 3.6vw;
}

.key .keyname{
	position: absolute;
	top: .2vw;
	left: .2vw;
	font-variant: small-caps;
	line-height: 1em;
	transition: ease .05s;
}

.key .name{
	font-size: 1.4vw;
	line-height: 1.2vw;
	text-align: right;
	position: absolute;
	bottom: .2vw;
	right: .2vw;
	left: .2vw;
	font-variant: small-caps;
	transition: ease .05s;
}

.key.char .name{
	display: none;
}

.key.char .symbol{
	transform: scale(1.2);
}

.key:hover .name{
	opacity: .8;
}

.key:not(.label):hover .symbol{
	transform: translateY(-4px) scale(1.8) rotate(7deg);
}

.key:not(.lu) .uname{
	display: none;
}

.key .uname{
	position: absolute;
	bottom: .2vw;
	right: .2vw;
	line-height: 1em;
	transition: ease .05s;
}

.key.label {
	background-color: inherit;
	overflow: visible;
	min-width: 0;
	z-index: 10;
}

.searchpane{
	padding: .2vh 2.05vw;
	height: 25vh;
	box-sizing: border-box;
}

.searchpane input{
	display: block;
	height: 100%;
	border: none;
	width: 100%;
	box-sizing: border-box;
	padding: 1vw;
}
