
body, html{
	margin: 0;
	padding: 0;
	font-family: 'Segoe UI Emoji', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1.8vw;
}

*{
	user-select: none;
	-ms-user-select: none;
}

input{
	font-family: 'Segoe UI Emoji', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main{
	display: flex;
	flex-direction: column;
	cursor: default;
}

main > section{
	flex: 1;
	overflow: auto;
}

.keyboard{
	line-height: 0;
	text-align: center;
}

.key{
	display: inline-flex;
	list-style: none;
	padding: .3vw;
	width: 7.2vw;
	overflow: hidden;
	margin: .2vh .1vw;
	position: relative;
	align-items: center;
	transition: ease .05s;
	box-sizing: border-box;
}

.row{
	display: inline-flex;
	height: 25vh;
}

.key .symbol{
	font-size: 3.6vw;
	text-align: center;
	flex: 1;
	transition: ease .1s;
}
.key .symbol img{
	height: 3.6vw;
}

.key .keyname{
	position: absolute;
	top: .2vw;
	left: .2vw;
	font-variant: small-caps;
	line-height: 1em;
	transition: ease .05s;
}

.key .name{
	font-size: 1.4vw;
	line-height: 1.2vw;
	text-align: right;
	position: absolute;
	bottom: .2vw;
	right: .2vw;
	left: .2vw;
	font-variant: small-caps;
	opacity: .4;
	transition: ease .05s;
}

.key.char .name{
	display: none;
}

.key.char .symbol{
	transform: scale(1.2);
}

.key:hover .name{
	opacity: .8;
}

.key:hover .symbol{
	transform: translateY(-4px) scale(1.8) rotate(7deg);
}

.key:not(.lu) .uname{
	display: none;
}

.key .uname{
	position: absolute;
	bottom: .2vw;
	right: .2vw;
	line-height: 1em;
	transition: ease .05s;
}

.searchpane{
	padding: .2vh 2.05vw;
	height: 25vh;
	box-sizing: border-box;
}

.searchpane input{
	display: block;
	font-size: 4vw;
	height: 100%;
	border: none;
	width: 100%;
	box-sizing: border-box;
	padding: 1vw;
}